<div class='container'>
  <div class='logo'>
    <img src='<%= asset_path('logo.png') %>'>
  </div>
</div>
<div class='container'>
  <div class='image'></div>
</div>
<div class='body container'>
  <div class='signup'>
    <p>Sign up today to be notified of our upcoming release</p>
    <div class='form'>
      <div class='inputs'>
        <input name='signup[email]' placeholder='Enter email' type='email'>
        <input class='btn' name='commit' type='submit' value='Submit'>
      </div>
      <div class='message'></div>
    </div>
    </form>
  </div>
</div>